.background {
    background-image: url("../../assets/CityHall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}